:host {
  --mdc-elevated-card-container-elevation: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.customer-card {
  margin: 5rem 0 0 5rem;
  padding: 1rem;
  min-width: 400px;
  max-width: 400px;
}

.example-header-image {
  background-image: url("../../../../assets/images/screenshot_2025-10-24-160257-modified.png");
  margin-top: 3px;
  background-size: cover;
}

.card-heading {
  font-size: 1.5rem;
}
