<div
  class="absolute top-0 z-0 h-screen w-screen flex flex-col justify-center items-center gap-3 bg-indigo-100"
>
  <div class="mb-12 p-8 rounded bg-white">
    <div class="flex flex-row gap-3">
      <h1
        class="w-fit h-fit leading-[6rem] block text-[7.5rem] font-bold text-indigo-300"
      >
        EOMS
      </h1>
      <div class="block font-bold text-base text-[#a9a9a9]">
        <p>Easy</p>
        <p>Order</p>
        <p>Management</p>
        <p>System</p>
      </div>
    </div>
    <p class="w-[28rem] ml-[6px] mt-3 text-start text-sm text-black">
      An Easy Order Management System to manage your customers, orders and
      invoices data without any fuss.
    </p>
    <div class="mt-4 ml-[6px] flex gap-3">
      <button mat-raised-button color="primary" class="auth-button">
        Sign-In
      </button>
      <button mat-raised-button color="primary" class="auth-button">
        Register
      </button>
    </div>
  </div>
</div>
