<div class="w-48 h-full bg-indigo-200">
  <div class="pt-3">
    <a
      [routerLink]="['/dashboard/customers']"
      class="p-3 w-full text-center text-xl block text-white hover:bg-indigo-300"
      >Kunden</a
    >
    <a
      [routerLink]="['dashboard/orders']"
      class="p-3 w-full text-center text-xl block text-white hover:bg-indigo-300"
      >Aufträge</a
    >
    <a
      [routerLink]="['dashboard/invoices']"
      class="p-3 w-full text-center text-xl block text-white hover:bg-indigo-300"
      >Rechnungen</a
    >
    <a
      [routerLink]="['dashboard/statistics']"
      class="p-3 w-full text-center text-xl block text-white hover:bg-indigo-300"
      >Statistik</a
    >
  </div>
</div>
