<div class="m-8 flex flex-row gap-16">
  <div>
    <h2 class="text-2xl">Rechnung {{ invoice.invoiceNumber }}</h2>
    <h4 class="text-base">
      Auftrag:
      <a
        [routerLink]="['/dashboard', 'customers', invoice.order.customer.id]"
        class="hover:underline hover:text-[#9fa8da]"
        >{{ invoice.order.title }}</a
      >
    </h4>
    <h4>
      Kund:in:
      <a
        [routerLink]="['/dashboard', 'customers', invoice.order.customer.id]"
        class="hover:underline hover:text-[#9fa8da]"
        >{{ invoice.order.customer.name }}</a
      >
    </h4>
    <h3 class="mt-3 mb-2 text-xl">Auftragsposten:</h3>
    @for (item of invoice.items; track $index) {
      <p>{{ $index + 1 }}. {{ item }}</p>
    }
    <p class="mt-5">
      Gesamtbetrag: <strong>{{ invoice.total }},00 EUR</strong>
    </p>
    <div class="mt-3">
      <button
        mat-flat-button
        color="primary"
        class="invoice-view-btn me-3 *:text-white"
        [routerLink]="['/dashboard', 'invoices', 'edit', invoice.id]"
      >
        Bearbeiten
      </button>
      <button
        mat-flat-button
        color="primary"
        class="invoice-view-btn *:text-white"
        (click)="downloadInvoicePdf()"
      >
        PDF downloaden
      </button>
    </div>
  </div>
  <pdf-viewer
    [src]="pdfSrc"
    [render-text]="true"
    [original-size]="false"
    style="width: 550px; height: 800px; border-radius: 5px"
    class="pdf-viewer"
  ></pdf-viewer>
</div>
