<div class="m-8 flex flex-row gap-16">
  <div>
    <h2 class="mb-3 text-2xl">Rechnung {{ invoice.invoiceNumber }}</h2>
    <h4 class="text-base">
      Auftrag:
      <a
        [routerLink]="['/dashboard', 'customers', invoice.order.customer.id]"
        class="hover:underline hover:text-[#9fa8da]"
        >{{ invoice.order.title }}</a
      >
    </h4>
    <h4 class="mb-3">
      Kund:in:
      <a
        [routerLink]="['/dashboard', 'customers', invoice.order.customer.id]"
        class="hover:underline hover:text-[#9fa8da]"
        >{{ invoice.order.customer.name }}</a
      >
    </h4>
    <p class="text-sm">Erstellt am: {{invoice.createdAt | date:"dd.M.yyyy"}}</p>
    <p class="text-sm">Bearbeitet am: {{invoice.updatedAt | date:"dd.M.yyyy"}}</p>
    <p class="text-sm">Zahlfrist: {{invoice.dueDate | date:"dd.M.yyyy"}}</p>

    <h3 class="mt-5 mb-2 text-xl">Auftragsposten:</h3>
    @for (item of invoice.items; track $index) {
      <p>{{ $index + 1 }}. {{ item }}</p>
    }
    <p class="mt-5 mb-3">
      Gesamtbetrag: <strong>{{ invoice.total }},00 EUR</strong>
    </p>

    @switch (invoice.status) {
      @case ("angelegt") {
        <mat-chip
          id="status-chip-created"
          class="**:flex **:flex-row **:items-center **:gap-1"
        >
          <mat-icon style="scale: 0.8">create_new_folder</mat-icon>
          <span id="status-chip-text">{{ invoice.status }}</span>
        </mat-chip>
      }
      @case ("offen") {
        <mat-chip
          id="status-chip-pending"
          class="**:flex **:flex-row **:items-center **:gap-1"
        >
          <mat-icon style="scale: 0.8">construction</mat-icon>
          <span id="status-chip-text">{{ invoice.status }}</span>
        </mat-chip>
      }
      @case ("beglichen") {
        <mat-chip
          id="status-chip-paid"
          class="**:flex **:flex-row **:items-center **:gap-1"
        >
          <mat-icon style="scale: 0.8">done_all</mat-icon>
          {{ invoice.status }}</mat-chip
        >
      }
      @case ("überfällig") {
        <mat-chip
          id="status-chip-overdue"
          class="**:flex **:flex-row **:items-center **:gap-1"
        >
          <mat-icon style="scale: 0.8">done_all</mat-icon>
          {{ invoice.status }}</mat-chip
        >
      }
      @case ("storniert") {
        <mat-chip
          id="status-chip-canceled"
          class="**:flex **:flex-row **:items-center **:gap-1"
        >
          <mat-icon style="scale: 0.8">cancel</mat-icon>
          {{ invoice.status }}</mat-chip
        >
      }
    }

    <div class="mt-5">
      <button
        mat-flat-button
        color="primary"
        class="invoice-view-btn me-3 **:text-white"
        [routerLink]="['/dashboard', 'invoices', 'edit', invoice.id]"
      >
        Bearbeiten
      </button>
      <button
        mat-flat-button
        color="primary"
        class="invoice-view-btn **:text-white"
        (click)="downloadInvoicePdf()"
      >
        PDF downloaden
      </button>
    </div>
  </div>
  @if (pdfSrc) {
    <pdf-viewer
      [src]="pdfSrc"
      [render-text]="true"
      [original-size]="false"
      style="width: 550px; height: 800px; border-radius: 5px"
      class="pdf-viewer"
    ></pdf-viewer>
  }
</div>
