<div class="w-48 h-full bg-indigo-200">
  <div class="pt-4 flex flex-col justify-start gap-5">
    <button
      mat-flat-button
      extended
      [color]="updateActiveRoute() === 'customers' ? 'white' : 'primary'"
      [style.color]="updateActiveRoute() === 'customers' ? '#9fa8da' : 'white'"
      class="mx-3 p-3 sidenav-button-link"
      [routerLink]="['/dashboard/customers']"
      value="customers"
    >
      Kunden
      <mat-icon>person</mat-icon>
    </button>
    <button
      mat-flat-button
      extended
      [color]="updateActiveRoute() === 'orders' ? 'white' : 'primary'"
      [style.color]="updateActiveRoute() === 'orders' ? '#9fa8da' : 'white'"
      class="mx-3 p-3 sidenav-button-link"
      [routerLink]="['/dashboard/orders']"
      value="orders"
    >
      Aufträge
      <mat-icon>list_alt</mat-icon>
    </button>
    <button
      mat-flat-button
      extended
      [color]="updateActiveRoute() === 'invoices' ? 'white' : 'primary'"
      [style.color]="updateActiveRoute() === 'invoices' ? '#9fa8da' : 'white'"
      class="mx-3 p-3 sidenav-button-link"
      [routerLink]="['/dashboard/invoices']"
      value="invoices"
    >
      Rechnungen
      <mat-icon>receipt_long</mat-icon>
    </button>
    <button
      mat-flat-button
      extended
      [color]="updateActiveRoute() === 'analytics' ? 'white' : 'primary'"
      [style.color]="updateActiveRoute() === 'analytics' ? '#9fa8da' : 'white'"
      class="mx-3 p-3 sidenav-button-link"
      [routerLink]="['/dashboard/invoices']"
    >
      Analyse
      <mat-icon>bar_chart</mat-icon>
    </button>
  </div>
</div>
