<div class="m-16 flex flex-row gap-8">
  <mat-card class="orders-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title class="card-title">Kunden</mat-card-title>
        <mat-card-subtitle>Small</mat-card-subtitle>
        <svg-icon
          mat-suffix
          src="assets/svg/people.svg"
          [svgStyle]="{ 'width.px': 75 }"
        ></svg-icon>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <p class="text-lg">Gesamt: {{ customers?.length }}</p>
      <p class="text-lg">Aktiv: {{ customerData.active }}</p>
      <p class="text-lg">Inaktiv: {{ customerData.inactive }}</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="orders-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title class="card-title">Aufträge</mat-card-title>
        <mat-card-subtitle>Small</mat-card-subtitle>
        <svg-icon
          mat-suffix
          src="assets/svg/order.svg"
          [svgStyle]="{ 'width.px': 80 }"
        ></svg-icon>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <p class="text-lg">Gesamt: {{ orderCount }}</p>
      <p class="text-lg">Abgeschlossen: {{ orderData.completed }}</p>
      <p class="text-lg">Angelegt: {{ orderData.created }}</p>
      <p class="text-lg">In Bearbeitung: {{ orderData.inProgress }}</p>
      <p class="text-lg">Storniert: {{ orderData.canceled }}</p>
      <p class="mt-5 text-lg">⌀ Aufträge / Kunde: {{ getAvgOrders() }}</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="orders-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title class="card-title">Rechnungen</mat-card-title>
        <mat-card-subtitle>Small</mat-card-subtitle>
        <svg-icon
          mat-suffix
          src="assets/svg/invoice.svg"
          [svgStyle]="{ 'width.px': 80, 'margin-left.px': 20 }"
        ></svg-icon>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <p class="text-lg">Gesamt: {{ orderCount }}</p>
      <p class="text-lg">Beglichen: {{ orderCount }}</p>
      <p class="text-lg">Offen: {{ orderCount }}</p>
    </mat-card-content>
  </mat-card>
</div>
