:host {
  --mdc-elevated-card-container-elevation: 0 10px 40px -10px rgb(0 0 0 / 0.25);
}

.orders-card {
  width: 20rem;
  height: 25rem;
}

.card-title {
  font-size: 1.75rem;
}

mat-card {
  padding: 1.25rem;
}
