table {
  width: 100%;
}

.customer-row {
  transition: 200ms ease-out;
}

.customer-row:hover {
  background: #eee;
  transition: 200ms ease-out;
}

.customer-row-edit-button {
  max-width: 60px;
  text-align: end;
}

.customer-row-trash-button {
  padding-inline: 2px;
}

.mat-icon-btn {
  width: 35px;
  height: 35px;
  padding: 6px 8px 10px 9px;
}

#new-customer-button {
  color: white;
}

.search-input {
  min-width: 120px;
  max-width: 400px;
  width: 100%;
}

.search-input-full-width {
  width: 100%;
  scale: 0.9;
}

.name-row-cell {
  width: 20% !important;
}

.contact-name-row-cell {
  width: 17.5% !important;
}

.phone-row-cell {
  width: 12.5% !important;
}

.email-row-cell {
  width: 20% !important;
}

.orders-row-cell {
  width: 10% !important;
}

.status-row-cell {
  width: 10% !important;
}

.trash-column td {
  max-width: 50px;
  padding-inline: 5px;
}

#customers-paginator div div {
  background-color: indigo;
}
