:host {
  --mdc-elevated-card-container-elevation: 0 10px 40px -10px rgb(0 0 0 / 0.25);
}

.customer-card {
  margin: 5rem 0 0 5rem;
  padding: 1rem;
  min-width: 400px;
  max-width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.customer-card-section {
  width: 400px !important;
}

.customer-card-section:not(:last-child) {
  border-right: 1px solid #00000025;
}

.card-heading {
  font-size: 1.5rem;
}

.customer-image {
  width: 4rem;
  height: 4rem;
}
