<div class="m-8">
  <div class="flex flex-row items-end">
    <h3 class="mt-0 mb-8 ml-2 pt-2 text-4xl">Aufträge</h3>
    <div class="w-full flex flex-row gap-8 justify-end items-end mt-2">
      <div class="flex flex-row gap-3">
        <form class="search-input">
          <mat-form-field class="search-input-full-width mb-[6px]">
            <mat-label>Suchen...</mat-label>
            <input
              type="text"
              matInput
              placeholder="Suchen..."
              (keyup)="applySearchFilter($event)"
            />
            <svg-icon
              matSuffix
              src="assets/svg/8666693_search_icon.svg"
              [svgStyle]="{ 'width.px': 60 }"
            ></svg-icon>
          </mat-form-field>
        </form>
        <mat-form-field class="sort-filter-select mb-[6px]">
          <mat-label>Sortieren nach</mat-label>
          <mat-select (valueChange)="applySortFilter($event)">
            <mat-option value="id">Kein Filter</mat-option>
            <mat-option value="title">Auftrag</mat-option>
            <mat-option value="customer.name">Kunde</mat-option>
            <mat-option value="items.length">Posten</mat-option>
            <mat-option value="orderDate">Auftragsdatum</mat-option>
            <mat-option value="dueDate">Fertigstellungsdatum</mat-option>
            <mat-option value="status">Status</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="sort-filter-select mb-[6px]">
          <mat-label>Sortierrichtung</mat-label>
          <mat-select (valueChange)="applySortFilterMode($event)">
            <mat-option value="ASC">aufsteigend</mat-option>
            <mat-option value="DESC">absteigend</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <button
        mat-fab
        extended
        color="primary"
        id="new-order-button"
        class="flex flex-row -translate-y-8"
        [routerLink]="['/dashboard', 'orders', 'new']"
      >
        Neuer Auftrag
        <mat-icon>assignment_add</mat-icon>
      </button>
    </div>
  </div>
  <table mat-table [dataSource]="orders" *ngIf="orders.length; else noOrders">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Auftrag</th>
      <td mat-cell *matCellDef="let order"
      class="title-row-cell">{{ order.title }}</td>
    </ng-container>

    <ng-container matColumnDef="customer">
      <th mat-header-cell *matHeaderCellDef>Kund:in</th>
      <td mat-cell *matCellDef="let order"
      class="customer-row-cell">
        <a
          [routerLink]="['/dashboard', 'customers', order.customer.id]"
          class="hover:underline"
          >{{ order.customer.name }}</a
        >
      </td>
    </ng-container>

    <!-- Contact Name Column -->
    <ng-container matColumnDef="items">
      <th mat-header-cell *matHeaderCellDef>Posten</th>
      <td mat-cell *matCellDef="let order"
      class="items-row-cell">{{ order.items?.length }}</td>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="order_date">
      <th mat-header-cell *matHeaderCellDef>Auftragsdatum</th>
      <td mat-cell *matCellDef="let order"
      class="order-date-row-cell">
        {{ order.orderDate | date: "dd.M.yyyy" }}
      </td>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="due_date">
      <th mat-header-cell *matHeaderCellDef>Fertigstellungsdatum</th>
      <td mat-cell *matCellDef="let order" class="due-date-row-cell">
        {{ order.dueDate | date: "dd.M.yyyy" }}
      </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let order"
      class="status-row-cell">
        @switch (order.status) {
          @case ("angelegt") {
            <mat-chip
              id="status-chip-created"
              class="**:flex **:flex-row **:items-center **:gap-1"
            >
              <mat-icon style="scale: 0.8">create_new_folder</mat-icon>
              <span id="status-chip-text">{{ order.status }}</span>
            </mat-chip>
          }
          @case ("in Bearbeitung") {
            <mat-chip
              id="status-chip-progress"
              class="**:flex **:flex-row **:items-center **:gap-1"
            >
              <mat-icon style="scale: 0.8">construction</mat-icon>
              <span id="status-chip-text">{{ order.status }}</span>
            </mat-chip>
          }
          @case ("abgeschlossen") {
            <mat-chip
              id="status-chip-completed"
              class="**:flex **:flex-row **:items-center **:gap-1"
            >
              <mat-icon style="scale: 0.8">done_all</mat-icon>
              {{ order.status }}</mat-chip
            >
          }
          @case ("storniert") {
            <mat-chip
              id="status-chip-canceled"
              class="**:flex **:flex-row **:items-center **:gap-1"
            >
              <mat-icon style="scale: 0.8">cancel</mat-icon>
              {{ order.status }}</mat-chip
            >
          }
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="remaining_days">
      <th mat-header-cell *matHeaderCellDef>Verbleibende Zeit</th>
      <td
        mat-cell
        *matCellDef="let order"
        class="remaining_days-row-cell"
        [style]="
          getDiffDays(today, order.dueDate) > 0 &&
          getDiffDays(today, order.dueDate) < 4
            ? { color: 'red' }
            : ''
        "
      >
        {{ getDiffDays(today, order.dueDate) }}
        {{
          getDiffDays(today, order.dueDate) !== 1 &&
          getDiffDays(today, order.dueDate) !== -1
            ? "Tage"
            : "Tag"
        }}
      </td>
    </ng-container>
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let order" class="order-row-edit-button">
        <button
          mat-icon-button
          click-stop-propagation
          [routerLink]="['/dashboard', 'orders', 'edit', order.id]"
          class="p-1 border rounded cursor-pointer mat-icon-btn"
        >
          <svg-icon
            matSuffix
            src="assets/svg/edit.svg"
            [svgStyle]="{ 'width.px': 18 }"
          ></svg-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete" class="trash-column">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let order" class="order-row-trash-button">
        <button
          mat-icon-button
          class="p-1 border rounded cursor-pointer mat-icon-btn"
          (click)="deleteOrder(order.id)"
        >
          <svg-icon
            matSuffix
            src="assets/svg/trash.svg"
            [svgStyle]="{ 'width.px': 18 }"
          ></svg-icon>
        </button>
      </td>
    </ng-container>

    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="order-row cursor-pointer"
      (click)="goToOrderView(row.id)"
    ></tr>
  </table>
  <mat-paginator
    class="mt-8 ml-auto w-96 bold text-xl"
    id="orders-paginator"
    (page)="getNextPage($event)"
    [pageSize]="10"
    [length]="numOfOrders"
    aria-label="Seite auswählen"
  ></mat-paginator>

  <ng-template #noOrders>
    <p *ngIf="loading$ | async" class="mt-8 text-xl">Keine Aufträge gefunden</p>
  </ng-template>
</div>
