<div class="mt-8 ml-12 w-fit">
  <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
    <h3 class="mb-8 text-4xl">
      {{ newCustomer ? "Neuer Kunde" : "Kundendaten bearbeiten" }}
    </h3>
    <h4 class="mt-4 mb-3 text-xl">Stammdaten</h4>
    <div class="customer-form-container flex flex-row gap-5">
      <mat-form-field>
        <mat-label>Kundenname</mat-label>
        <input
          matInput
          placeholder="Name des Kunden"
          formControlName="name"
          required
        />
        @if (customerForm.get("name")) {
          <mat-error>{{ customerForm.getError("name") }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Kontaktperson</mat-label>
        <input
          matInput
          placeholder="Kontaktperson"
          formControlName="contactName"
          required
        />
        <!-- @if (name.invalid) { -->
        <!--   <mat-error>{{ errorMessage }}</mat-error> -->
        <!-- } -->
      </mat-form-field>

      <mat-form-field>
        <mat-label>Telefonnr.</mat-label>
        <input
          matInput
          placeholder="Telefonnr."
          formControlName="phone"
          required
        />
        <!-- @if (name.invalid) { -->
        <!--   <mat-error>{{ errorMessage }}</mat-error> -->
        <!-- } -->
      </mat-form-field>

      <mat-form-field>
        <mat-label>Kunden-Email</mat-label>
        <input
          matInput
          type="email"
          placeholder="pat@example.com"
          formControlName="email"
          required
        />
        @if (customerForm.get("email")) {
          <mat-error>Kein gültige Email</mat-error>
        }
      </mat-form-field>
    </div>

    <h4 class="mt-4 mb-3 text-xl">Adresse</h4>
    <div class="customer-form-container flex flex-row gap-5">
      <mat-form-field>
        <mat-label>Straße</mat-label>
        <input
          matInput
          placeholder="Straße"
          formControlName="street"
          required
        />
        <!-- @if (name.invalid) { -->
        <!--   <mat-error>{{ errorMessage }}</mat-error> -->
        <!-- } -->
      </mat-form-field>

      <mat-form-field>
        <mat-label>Postleitzahl</mat-label>
        <input
          matInput
          placeholder="Kontaktperson"
          formControlName="zipcode"
          required
        />
        <!-- @if (name.invalid) { -->
        <!--   <mat-error>{{ errorMessage }}</mat-error> -->
        <!-- } -->
      </mat-form-field>

      <mat-form-field>
        <mat-label>Stadt</mat-label>
        <input
          matInput
          placeholder="Telefonnr."
          formControlName="city"
          required
        />
        <!-- @if (name.invalid) { -->
        <!--   <mat-error>{{ errorMessage }}</mat-error> -->
        <!-- } -->
      </mat-form-field>

      <button
        type="button"
        mat-raised-button
        (click)="fileInput.click()"
      >
        Choose File
      </button>
      <input
        hidden
        (change)="onFileSelected($event)"
        #fileInput
        formControlName="imgFilePath"
        type="file"
        id="file"
      />
    </div>

    <h4 class="mt-4 mb-3 text-xl">Zusatzdaten</h4>
    <div class="customer-form-container flex flex-row gap-5">
      <mat-form-field>
        <mat-label>Branche</mat-label>
        <input
          matInput
          placeholder="Branche"
          formControlName="industry"
          required
        />
        <!-- @if (name.invalid) { -->
        <!--   <mat-error>{{ errorMessage }}</mat-error> -->
        <!-- } -->
      </mat-form-field>

      <mat-form-field>
        <mat-label>Kundentyp</mat-label>
        <input
          matInput
          placeholder="Privat, Firma etc."
          formControlName="type"
          required
        />
        <!-- @if (name.invalid) { -->
        <!--   <mat-error>{{ errorMessage }}</mat-error> -->
        <!-- } -->
      </mat-form-field>

      <mat-form-field>
        <mat-label>Kunde seit</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="firstOrderDate"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select formControlName="status" required>
          <mat-option value="aktiv">Aktiv</mat-option>
          <mat-option value="inaktiv">Inaktiv</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <h4 class="mt-4 mb-3 text-xl">Notizen</h4>
    <mat-form-field id="customer-notes">
      <mat-label>Notizen</mat-label>
      <textarea rows="6" matInput formControlName="notes" required></textarea>
    </mat-form-field>

    <button
      mat-flat-button
      type="submit"
      color="primary"
      id="customer-form-button"
      [disabled]="customerForm.invalid"
    >
      {{ newCustomer ? "Speichern" : "Update" }}
    </button>
  </form>
</div>
