:host {
  --mdc-elevated-card-container-elevation: 0 10px 40px -10px rgb(0 0 0 / 0.25);
  --mdc-filled-button-label-text-color: white;
}

.order-card {
  margin-top: 2rem;
  padding: 1rem;
  min-height: 400px;
  max-height: 500px;
  min-width: 400px;
  max-width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.order-card-section {
  width: 350px !important;
}

.order-card-section:not(:last-child) {
  border-right: 1px solid #00000025;
}

.card-heading {
  font-size: 1.8rem;
  margin-bottom: 0.3rem
}

mat-card-actions {
  margin-top: 2rem !important;
}

mat-chip {
  margin-left: 10px !important;
}

#status-chip-completed {
  background-color: #5be77550;
}

#status-chip-progress {
  background-color: #ffee8c90;
}

#status-chip-canceled {
  background-color: #fa807280;
}

.mdc-evolution-chip__text-label:has(#status-chip-text) {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.generate-invoice-btn {
  height: 1.75rem;
  border-radius: 20px;
}
