#invoice-notes {
  width: 100%;
}

#invoice-form-button {
  display: block;
  color: white;
  border-radius: 1.5rem;
}

mat-icon {
  scale: 0.9;
  color: #707070;
}

mat-option {
  padding-block: 0.2rem;
}
