<div class="mt-8 ml-12 w-fit">
  <form [formGroup]="invoiceForm">
    <h3 class="mb-8 text-4xl">
      {{ newInvoice ? "Neuer Rechnungs" : "Rechnungsdaten bearbeiten" }}
    </h3>
    <h4 class="mt-4 mb-3 text-xl">Basisdaten</h4>
    <div class="invoice-form-container flex flex-row gap-5">
      <mat-form-field>
        <mat-label>Rechnungsnummer</mat-label>
        <input
          matInput
          placeholder="Rechnungsnummer"
          formControlName="invoiceNumber"
          required
        />
        @if (invoiceForm.get("invoiceNumber")!.invalid) {
          <mat-error>{{ invoiceForm.getError("name") }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Kunde</mat-label>
        <mat-select formControlName="customer" required>
          @for (order of orders; track order) {
            <mat-option [value]="order.customer.name">{{ order.customer.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Kunde</mat-label>
        <mat-select formControlName="order" required>
          @for (order of orders; track order) {
            <mat-option [value]="order.title">{{ order.title }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Fertigstellungsdatum</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="dueDate" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker2"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>

    <h4 class="mt-4 mb-3 text-xl">Zusatzdaten</h4>
    <div class="invoice-form-container flex flex-row gap-5">
      <div class="flex flex-col">
        <mat-form-field>
          <mat-label>Status</mat-label>
          <mat-select formControlName="status" required>
            <mat-option value="angelegt">angelegt</mat-option>
            <mat-option value="in Bearbeitung">in Bearbeitung</mat-option>
            <mat-option value="abgeschlossen">abgeschlossen</mat-option>
            <mat-option value="storniert">storniert</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Neuer Auftragsposten</mat-label>
          <input placeholder="Posten" formControlName="items" hidden required />
          <input
            matInput
            placeholder="Neuer Posten"
            (keypress)="addItem($event)"
            required
          />
        </mat-form-field>

        <ul
          role="list"
          class="max-h-[13.25rem] overflow-y-auto bg-[#f5f5f5] binvoice-b-1"
        >
          @for (item of invoiceForm.value.items; track item) {
            <li
              role="listitem"
              id="mat-list-item"
              class="h-12 w-full pt-3 pb-3 pl-3 p-0 relative top-0 z-0 flex flex-row items-center gap-1 justify-between hover:bg-[#dadada]"
            >
              <span class="w-3/4">{{ item }}</span>
              <button
                type="button"
                mat-icon-button
                style="scale: 0.8"
                matTooltip="Posten löschen"
                aria-label="Button zum Löschen des Auftragspostens"
                (click)="deleteItem($event)"
              >
                <mat-icon>close</mat-icon>
              </button>
            </li>
          }
        </ul>
      </div>

      <mat-form-field id="invoice-notes">
        <mat-label>Details</mat-label>
        <textarea rows="14" matInput formControlName="details"></textarea>
      </mat-form-field>
    </div>

    <div class="flex flex-rox gap-3 justify-end">
      <button
        mat-flat-button
        type="button"
        color="accent"
        id="invoice-form-button"
        class="w-fit"
        [routerLink]="['/dashboard', 'invoices']"
      >
        Zurück
      </button>
      <button
        mat-flat-button
        type="button"
        color="primary"
        id="invoice-form-button"
        class="w-fit ml-0"
        (click)="onSubmit()"
        [disabled]="invoiceForm.invalid"
      >
        {{ newInvoice ? "Speichern" : "Update" }}
      </button>
    </div>
  </form>
</div>
