<div class="m-8">
  <div class="flex flex-row items-end">
    <h3 class="mt-0 mb-8 ml-2 pt-2 text-4xl">Kunden</h3>
    <div class="w-full flex flex-row gap-8 justify-end items-end mt-2">
      <div class="flex flex-row gap-3">
        <form class="search-input">
          <mat-form-field class="search-input-full-width mb-[6px]">
            <mat-label>Suchen...</mat-label>
            <input
              type="text"
              matInput
              placeholder="Suchen..."
              (keyup)="applySearchFilter($event)"
            />
            <svg-icon
              matSuffix
              src="assets/svg/8666693_search_icon.svg"
              [svgStyle]="{ 'width.px': 60 }"
            ></svg-icon>
          </mat-form-field>
        </form>
        <mat-form-field class="sort-filter-select mb-[6px]">
          <mat-label>Sortieren nach</mat-label>
          <mat-select (valueChange)="applySortFilter($event)">
            <mat-option>None</mat-option>
            <mat-option value="name">Firmenname</mat-option>
            <mat-option value="contactName">Kontaktperson</mat-option>
            <mat-option value="phone">Telefon</mat-option>
            <mat-option value="email">Email</mat-option>
            <mat-option value="firstOrderDate">Kunde seit</mat-option>
            <mat-option value="orders.length">Aufträge</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="sort-filter-select mb-[6px]">
          <mat-label>Sortierrichtung</mat-label>
          <mat-select (valueChange)="applySortFilterMode($event)">
            <mat-option value="ASC">aufsteigend</mat-option>
            <mat-option value="DESC">absteigend</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <button
        mat-fab
        extended
        color="primary"
        id="new-customer-button"
        class="flex flex-row -translate-y-8"
        [routerLink]="['/dashboard', 'customers', 'new']"
      >
        Neuer Kunde
        <mat-icon>person_add</mat-icon>
      </button>
    </div>
  </div>
  <table
    mat-table
    [dataSource]="customers"
    *ngIf="customers.length; else noCustomers"
  >
    <ng-container matColumnDef="name" id="name-row">
      <th mat-header-cell *matHeaderCellDef>Firmenname</th>
      <td mat-cell *matCellDef="let customer" class="name-row-cell">
        {{ customer.name }}
      </td>
    </ng-container>

    <!-- Contact Name Column -->
    <ng-container matColumnDef="contactName">
      <th mat-header-cell *matHeaderCellDef>Kontaktperson</th>
      <td mat-cell *matCellDef="let customer" class="contact-name-row-cell">
        {{ customer.contactName }}
      </td>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Telefon</th>
      <td mat-cell *matCellDef="let customer" class="phone-row-cell">
        {{ customer.phone }}
      </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let customer" class="email-row-cell">
        {{ customer.email }}
      </td>
    </ng-container>

    <ng-container matColumnDef="orders">
      <th mat-header-cell *matHeaderCellDef>Aufträge</th>
      <td mat-cell *matCellDef="let customer" class="orders-row-cell">
        {{ customer.orders ? customer.orders.length : 0 }}
      </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let customer" class="status-row-cell">
        <mat-chip
          *ngIf="customer.status === 'aktiv'; else inactive"
          style="background-color: #5be77550; color: #fff"
          >{{ customer.status }}</mat-chip
        >
        <ng-template #inactive
          ><mat-chip>{{ customer.status }}</mat-chip></ng-template
        >
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let customer" class="customer-row-edit-button">
        <button
          mat-icon-button
          click-stop-propagation
          [routerLink]="['/dashboard', 'customers', 'edit', customer.id]"
          class="p-1 border rounded cursor-pointer mat-icon-btn"
        >
          <svg-icon
            matSuffix
            src="assets/svg/edit.svg"
            [svgStyle]="{ 'width.px': 18 }"
          ></svg-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete" class="trash-column">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let customer" class="customer-row-trash-button">
        <button
          mat-icon-button
          (click)="deleteCustomer(customer.id)"
          class="p-1 border rounded cursor-pointer mat-icon-btn"
        >
          <svg-icon
            matSuffix
            src="assets/svg/trash.svg"
            [svgStyle]="{ 'width.px': 18 }"
          ></svg-icon>
        </button>
      </td>
    </ng-container>

    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="customer-row cursor-pointer"
      (click)="goToCustomerView(row.id)"
    ></tr>
  </table>
  <mat-paginator
    (page)="getNextPage($event)"
    class="mt-8 ml-auto w-96 bold text-xl"
    id="customers-paginator"
    [length]="numOfCustomers"
    [pageSize]="10"
    aria-label="Seite auswählen"
  ></mat-paginator>

  <ng-template #noCustomers>
    <p
      *ngIf="(loading$ | async) && customers.length === 0"
      class="mt-8 text-xl"
    >
      Keine Kund:innen gefunden
    </p>
  </ng-template>
</div>
