<div class="mt-8 ml-12 w-fit">
  <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
    <h3 class="mb-8 text-4xl">Auftragsdaten bearbeiten</h3>
    <h4 class="mt-4 mb-3 text-xl">Stammdaten</h4>
    <div class="order-form-container flex flex-row gap-5">
      <mat-form-field>
        <mat-label>Auftragsname</mat-label>
        <input
          matInput
          placeholder="Name des Auftrags"
          formControlName="title"
          required
        />
        @if (orderForm.get('name')?.invalid) {
          <mat-error>{{orderForm.getError('name')}}</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Kunde</mat-label>
        <input
          matInput
          placeholder="Kunde"
          formControlName="customerName"
          required
        />
        <!-- @if (name.invalid) { -->
        <!--   <mat-error>{{ errorMessage }}</mat-error> -->
        <!-- } -->
      </mat-form-field>

      <mat-form-field>
        <mat-label>Auftragsdatum</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="orderDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Fertigstellungsdatum</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dueDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <h4 class="mt-4 mb-3 text-xl">Adresse</h4>
    <div class="order-form-container flex flex-row gap-5">


      <mat-form-field>
        <mat-label>Auftragsposten</mat-label>
        <input
          matInput
          placeholder="Posten"
          formControlName="items"
          required
        />
        <!-- @if (name.invalid) { -->
        <!--   <mat-error>{{ errorMessage }}</mat-error> -->
        <!-- } -->
      </mat-form-field>

    </div>

    <h4 class="mt-4 mb-3 text-xl">Zusatzdaten</h4>
    <div class="order-form-container flex flex-row gap-5">


      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select formControlName="status" required>
          <mat-option value="angelegt">angelegt</mat-option>
          <mat-option value="in Bearbeitung">in Bearbeitung</mat-option>
          <mat-option value="abgeschlossen">abgeschlossen</mat-option>
          <mat-option value="storniert">storniert</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <h4 class="mt-4 mb-3 text-xl">Details</h4>
    <mat-form-field id="order-notes">
      <mat-label>Details</mat-label>
      <textarea rows="6" matInput formControlName="details" required></textarea>
    </mat-form-field>


    <button
      mat-flat-button
      type="submit"
      color="primary"
      id="order-form-button"
      [disabled]="orderForm.invalid"
    >
      Update
    </button>
  </form>
</div>
